.transactionHistory {
  table-layout: fixed;
  width: 874px;
  border-collapse: collapse;
  color: #5c6975;
  font-weight: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.line {
  height: 55px;
}

.bodyDark {
  composes: line;
  background-color: #ecf2f3;
}
.bodyLight {
  composes: line;
  background-color: #fff;
}
.tbody {
  text-align: center;
}
.headers {
  background-color: #00bcd4;
  color: #fff;
}

.typeTransaction {
  text-transform: capitalize;
}
